[submodule "cabal"]
	path = cabal
	url = https://github.com/gentoo-haskell/cabal.git
	branch = 3.8
[submodule "hackage-security"]
	path = hackage-security
	url = https://github.com/gentoo-haskell/hackage-security.git
